page-relevantdepartments {
//    .ki{
//     border: 1px solid #ddd !important;

//     .hi{
//         color: #4b8bf4;
//         font-size: 12px;
//     }
//    }

.bg-bule {
    background-color: white;
  }
  .bg-bule a {
    text-decoration: none;
  }
  .bc-gray {
    color: #666666
  }
  .bc-gray2{
      color: #999999
  }
  .f16 {
    font-size: 1.45rem
  }
  .mt20{
      margin-top: 2rem!important;
      padding-top: 45px;
      white-space: normal;
  }
  .p20{
      padding: 0rem 0;
  }
  .img-responsive {
    max-width: 100%;
  }
  .TradingCenter{
    width: 8.5rem;
    margin-left: 60%;
    margin-top: -25%;
  }
  .mt32{
      margin-top: 3.25rem;
  }
  .bc-org{
      background-color: #fddcd4
  }
  .ni{
    background-color: #d0effc;
  }

  .mi{
    background-color: #fddcd4;
  }
  [col-7]{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width:100%;
    max-width: 100%;
    margin-top: -4%;
  }


}
