page-news-detail {

    .title{
        text-align: center;
    }
    .content{
        width: 100%;
        padding:0 1rem; 
    }
    .titleImage{
        // width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

}
