page-forgetpassword {
    *{
        margin: 0;
        padding: 0; 
    }
    .gray .yan{
        color: #ff860e;
        border:#ff860e .1rem solid;
        background: white;
        margin: 0;
    }
    .button-bule{
        background-color: #0099d9;
        color: #ffffff;
    }
    .text-center{
        text-align: center
    }
    .mt30{
        margin-top: 3rem;
    }
    .mt10{
        margin-top: 1rem;
    }
    .ml10{
        margin-left: .1rem;
    }
    .mt-4{
        width: 80%;
        margin: 4rem auto;
    }
    .va-m{
        vertical-align: .5rem;
    }
    .danger{
        color: #f53d3d;
    }
    .gray ion-label[fixed]{
        flex: 0;
        min-width: 1rem;
        width: 6rem;
        flex: 0 0 6rem;
    }
    .gray .item-ios.item-block .item-inner{
        border-bottom: .05rem solid #f2f2f2;
    }
}
