<!--
  Generated template for the ForgetpasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>修改密码</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="gray">
  <form [formGroup]="Forgetpassword" (ngSubmit)="onForgetpassword()" autocomplete="off">
    <ion-item>
      <ion-label fixed>手 机 号</ion-label>
      <ion-input type="tel" placeholder="请输入11位手机号码"  formControlName="Mobile"></ion-input>
    </ion-item>
    <verification *ngIf="formErrors.Mobile" [text]="formErrors.Mobile"></verification>
    <ion-item>
      <ion-label fixed>验证码</ion-label>
      <ion-input type="text" placeholder="请输入验证码" #password formControlName="Code"></ion-input>
      <button  item-right ion-button round class="button-bule yan" (click)="getCodee()" >{{verifyCode.verifyCodeTips}}</button>
     </ion-item>
     <verification *ngIf="formErrors.Code" [text]="formErrors.Code"></verification>
    <ion-item>
      <ion-label fixed>新密码</ion-label>
      <ion-input type="password" placeholder="请输入至少6位新密码" #password formControlName="Password"></ion-input>
    </ion-item>
    <verification *ngIf="formErrors.Password" [text]="formErrors.Password"></verification>
    <ion-item>
      <ion-label fixed>确认密码</ion-label>
      <ion-input type="password" placeholder="请再次输入新密码" #password formControlName="ConfirmPassword"></ion-input>
    </ion-item>
    <verification *ngIf="formErrors.ConfirmPassword" [text]="formErrors.ConfirmPassword"></verification>
    <div class="mt-4">
      <button ion-button block class="button-bule" [disabled]="!Forgetpassword.valid">
        确定
      </button>
    </div>
  </form>
</ion-content>