page-relevantdepartnices {
    .ni-1{
        text-align: center;
        font-size: 1.8rem;
        letter-spacing: 0.5rem;
        font-weight: 600;
    }


    .mi-1{
        background-color: #fff;
        // padding: 0.1rem;;    
        // width: 102.5%; 
        font-size: 1.5rem;
        color: #666;
        // text-indent: 2.5rem;
        letter-spacing: 0.2rem;
      
    }

    .gos{
        padding-top: 0.8rem;
    }

    .tos{
        color:#1c93a9 !important;
        letter-spacing: 0.3rem;
        font-size: 1.5rem;
        font-weight: 600;
        display: inline-block;
        padding-left: 0.5rem;
    }

    .topt{
        display: inline-block;
        width: 100%;
    }

    .bos{
        display: inline-block;
        border: 6px solid #ff7e00;
        border-left:2px solid  #ff7e00;
        border-right: 1px solid #ff7e00;
    }
  
}
